.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: none;
}
.modalContent {
  padding: 25px;
  background-color: white;
  min-width: 350px;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal.active {
  display: flex;
  justify-content: center;
  align-items: center;
}
